
    	<!-- =====================================
    	==== Start Loading -->

    	<!-- <div class="loading">
    		<div class="text-center middle">
    			<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    		</div>
    	</div> -->
        
    	<!-- End Loading ====
    	======================================= -->

       
    	<!-- =====================================
    	==== Start Navbar -->

      <nav class="navbar navbar-expand-lg">
        <div class="container">
  
              <!-- Logo -->
              <a class="logo" href="#" data-scroll-nav="0">
                  <img src="../../../../assets/logo.png" alt="logo">          
              </a>
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"><i class="fas fa-bars"></i></span>
          </button>
  
          <!-- navbar links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
              </li>
              <li class="nav-item">
                      <a class="nav-link" href="#" data-scroll-nav="1">Service</a>
                    </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-scroll-nav="2">App</a>
              </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" data-scroll-nav="3">Team</a>
                    </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-scroll-nav="4">Payment Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-scroll-nav="6">Contact</a>
              </li>
              <!-- <li class="nav-item">
                <button class="butn butn-light mt-30" class="nav-link" [routerLink]="['/login']">Login</button>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
  
        <!-- End Navbar ====
        ======================================= -->


<router-outlet></router-outlet>




       <!-- =====================================
        ==== Start Contact -->

        <section class="contact section-padding" data-scroll-index="6">
          <div class="container">
              <div class="row">

                   <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                       <h4>Get <span>In</span> Touch</h4>
                       <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital design & web development services.</p>
                   </div>
                  
                   <div class="col-lg-5">
                       <div class="contact-info mb-md50">
                           <h5>Contact Us :</h5>
                           <p>Nulla metus metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat</p>
                           <div class="item">
                               <span class="icon icon-basic-tablet"></span>
                               <div class="cont">
                                   <h6>Phone : </h6>
                                   <p>+20 010 251 789 18 , 251 789 18</p>
                               </div>
                           </div>
                           <div class="item">
                               <span class="icon icon-basic-mail-open-text"></span>
                               <div class="cont">
                                   <h6>Email : </h6>
                                   <p>Coco_support@website.com</p>
                               </div>
                           </div>
                           <div class="item">
                               <span class="icon icon-basic-geolocalize-05"></span>
                               <div class="cont">
                                   <h6>Address : </h6>
                                   <p>4655 Carter Street ,Olney, Illinois</p>
                               </div>
                           </div>
                       </div>
                   </div>

                   <div class="col-lg-7">
                       <form class="form" id="contact-form" method="post" action="http://innovationplans.com/idesign/coco3/contact.php">

                           <div class="messages"></div>

                           <div class="controls">

                               <div class="row">

                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <input id="form_name" type="text" name="name" placeholder="Name" required="required">
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <input id="form_email" type="email" name="email" placeholder="Email" required="required">
                                       </div>
                                   </div>
                                   <div class="col-md-12">
                                       <div class="form-group">
                                           <input id="form_subject" type="text" name="subject" placeholder="Subject">
                                       </div>
                                   </div>
                                   <div class="col-md-12">
                                       <div class="form-group">
                                           <textarea id="form_message" name="message" placeholder="Message" rows="4" required="required"></textarea>
                                       </div>
                                   </div>

                                   <div class="col-md-12">
                                       <button type="submit" class="butn butn-bg"><span>Send Message</span></button>
                                   </div>

                               </div>                             
                           </div>
                       </form>
                   </div>

              </div>
          </div>
      </section>

       <!-- End Contact ====
       ======================================= -->


       <!-- =====================================
       ==== Start Footer -->

       <footer class="text-center">
           <div class="container">
               <!-- Logo -->
               <a class="logo" href="#">
                   <img src="../../../../assets/img/logo-light.png" alt="logo">          
               </a>
               
               <div class="social">
                   <a href="#0"><i class="fab fa-facebook-f"></i></a>
                   <a href="#0"><i class="fab fa-twitter"></i></a>
                   <a href="#0"><i class="fab fa-linkedin-in"></i></a>
                   <a href="#0"><i class="fab fa-behance"></i></a>
                   <a href="#0"><i class="fab fa-pinterest-p"></i></a>
               </div>

               <p><a target="_blank" href="https://owlblack.com">OwlBlack Tech</a></p>
           </div>

       </footer>

       <!-- End Footer ====
       ======================================= -->




      
       <!-- jQuery -->
