<ion-header class="ion-no-borde">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <div *ngIf="connected">
    <ion-fab *ngIf="!quicksend" vertical="bottom" horizontal="end">
      <ion-fab-button color="dark" (click)="photomode()">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
    <ion-fab *ngIf="quicksend" vertical="bottom" horizontal="end">
      <ion-fab-button color="light" (click)="normalmode()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  

    <div class="headcard">
      <div class="overlay"></div>
      <div class="inner">
        <div>
          <h1>Welcome Back</h1>
          <p *ngIf="ready">{{userinfo.first_name}}</p>
          <p *ngIf="!ready">...</p>
        </div>
        <div>
          <img *ngIf="ready" src="{{baseurl}}/uploads/profilepictures/thumbs/{{userinfo.profile_picture}}" alt="">
        </div>
      </div>
    </div>

    <span *ngIf="!quicksend">
      
          <div class="stats">
            <div class="statinner">
              <div class="card">
                <span *ngIf="ready" class="count">{{stats.total}}</span>
                <span *ngIf="!ready" class="count">0</span>
                <span class="tag">Total</span>
              </div>
              <div class="card">
                <span *ngIf="ready" class="count">{{stats.success}}</span>
                <span *ngIf="!ready" class="count">0</span>
                <span class="tag">Successful</span>
              </div>
              <div class="card">
                <span *ngIf="ready" class="count">{{stats.pending}}</span>
                <span *ngIf="!ready" class="count">0</span>
                <span class="tag">Pending</span>
              </div>
            </div>
          </div>
      
      
          <div class="finance">
            <span *ngIf="ready">
              <div class="card" *ngIf="verified">
                <p>Balance</p>
                <p> <span>Gh&cent;</span> {{userinfo.account_balance}}</p>
              </div>
              
              <div class="notverified" *ngIf="!verified">
                <p>Balance</p>
                <h6>Email Verification required to view wallet</h6>
              </div>
            </span>
            <span *ngIf="!ready">
              <div class="card">
                <p>Balance</p>
                <p> <span>Gh&cent;</span> 0.00 </p>
              </div>
            </span>
          </div>
    </span>
    
    <div class="today" *ngIf="!quicksend">
      <h4>Today's Referrals</h4>
        <ion-list>
            <span class="noref" *ngIf="!ready">
              Loading
            </span>
            <span *ngIf="ready">
              <span *ngIf="referrals">
                <ion-item *ngFor="let item of referrals"><span *ngIf="!item.referral_patient_name"> Image Upload </span> <span *ngIf="item.referral_patient_name">{{item.referral_patient_name}} </span><ion-icon color="light" slot="end" [name]="item.referral_status | referralstatusicon"></ion-icon></ion-item>
              </span>
              <div *ngIf="!referrals">
                <p class="noref">No Referrals Made Today</p>
              </div>
            </span>
            <ion-button (click)="createnew()" color="medium" shape="round" expand="block">
              <ion-icon name="add"></ion-icon>
              <ion-label>New Referral</ion-label>
            </ion-button>
        </ion-list>
  
    </div>
  
    <div *ngIf="quicksend" class="quicksend" >
      <img [src]="quicksendimage"/>
      <form [formGroup]="quicksendform" (ngSubmit)="quicksendsend()">
        <ion-item>
          <ion-label position="stacked">Patient Contact</ion-label>
          <ion-input required type="number" formControlName="contact"></ion-input>
        </ion-item>
        <ion-button block color="medium" type="submit" [disabled]="!quicksendform.valid">
          Send
        </ion-button>
      </form>
    </div>
  </div>

  <app-notconnected *ngIf="!connected"></app-notconnected>


  

</ion-content>

