.doctor{
    background-color: #fff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( -10px );
    border-radius: 8px;
    padding: 1em;
    ion-col{
        img{
            border-radius: 50%;
        }
        span{
            display: block;
        }
        .name{
            font-weight: bold;
        }
    }
    ion-item-divider{
        min-height: 0px;
    }
}