.card{
    border-radius: 0.8em;
    padding-top: 5px;
    backdrop-filter: blur(14px) saturate(200%);
    background-color: var(--customgraycomp);
    // color: #fff;
    ion-row{
        margin-bottom: 1em;
    }
    ion-col{
        &:nth-child(1){
            span{
                display: block;
                &:nth-child(1){
                    position: absolute;
                    font-size: 2.5em;
                    font-weight: bold;
                    color: #fff;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                &:nth-child(2){
                    position: absolute;
                    top: 3px;
                    font-size: 0.8em;
                    color: rgb(170, 170, 170);
                    font-weight: bold;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &:nth-child(3){
                    position: absolute;
                    color: rgb(170, 170, 170);
                    font-weight: bold;
                    font-size: 0.8em;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 3px;
                }
            }
        }
        &:nth-child(2){
            span{
                display: block;
                color: #fff;
                &:nth-child(1){
                    font-weight: bold;
                }
                &:nth-child(3){
                    span{
                        display: inline;
                    }
                }
            }
        }
        &:nth-child(3){
            ion-icon{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 8px;
                
            }
        }
    }
}

.card2{
    background-color: var(--customgraycomp);
    color: #fff;
    border-radius: 8px;
    h4{
        text-align: center;
        padding: 1em;
    }
}