<header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="7" data-background="../../../../assets/img/bg4.jpg" data-stellar-background-ratio="0.5">

    <div class="container">
        <div class="text-center caption mt-30">
            <h4>Reef Med</h4>
            <h1>Account Verification</h1>
            <div class="row">
                <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                    <p>Get your account Verified</p>
                </div>
            </div>
           
        </div>
    </div>
</header>

<!-- End Header ====
======================================= -->



<!-- =====================================
==== Start Hero -->

<div *ngIf="ready">
    <section *ngIf="result" class="hero" data-scroll-index="1">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 text-center mb-80">
                        <h4 class="extra-title" [innerHTML]="result.heading"></h4>
                        <p>{{result.message}}</p>
                    </div>

                </div>
            </div>

        </div>
    </section>

    
    <section *ngIf="activatefacility" class="hero" data-scroll-index="1">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 mb-80">
                        <h4 class="extra-title text-center">Complete Registeration To Active your account</h4>
                        <div class="details" *ngIf="faciltdets">
                            <h4>Your Facility Details</h4>
                            <p><span>Name:</span>{{faciltdets.name}}</p>
                            <p><span>Type:</span>{{faciltdets.type}}</p>
                            <p><span>Location:</span>{{faciltdets.location}}</p>
                            <p><span>Price Per Referaal:</span>Gh&cent; {{faciltdets.price_per_referral}}</p>
                            <p><span>Contact:</span>{{faciltdets.contact}}</p>
                            <p><span>Procedures:</span>-</p>
                            <p><span>Status:</span>Inactive</p>
                        </div>
                        <br>
                        <br>
                        <form (ngSubmit)="activataccount()" [formGroup]="info">
                            <h5>Complete Account Setup</h5>
                            <div class="form">
                                <label for="firstname">First Name</label>
                                <input formControlName="firstname" class="form-control" id="firstname" type="text" placeholder="First Name">
                                <label for="lastname">Last Name</label>
                                <input formControlName="lastname" class="form-control" id="lastname" type="text" placeholder="Last Name">
                                <label for="phonenumber">Phone Number</label>
                                <input formControlName="phonenumber" class="form-control" id="phonenumber" type="text" placeholder="Phone Number">
                                <label for="password">Password</label>
                                <input formControlName="password" class="form-control" id="password" type="password" placeholder="Password">
                                <label for="confirmpassword">Confirm Password</label>
                                <input formControlName="confirmpassword" class="form-control" id="confirmpassword" type="password" placeholder="Confirm Password">
                                <div *ngIf="showerrors" class="alert alert-warning alert-dismissible fade show" role="alert">
                                    {{showerrors}}
                                    <button type="button" (click)="closealert()" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                </div>
                                <br>
                                <br>
                                <button type="submit" [disabled]="!info.valid" class="btn btn-success">Activate Account</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>
    </section>

    
    <hr> 
</div>