<header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="7" data-background="../../../../assets/img/bg4.jpg" data-stellar-background-ratio="0.5">

    <div class="container">
        <div class="text-center caption mt-30">
            <h4>Reef App</h4>
            <h1>Terms and Conditions</h1>
            <div class="row">
                <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                    <p>All terms and policies regarding the use of this app</p>
                </div>
            </div>
           
        </div>
    </div>
</header>
<div class="container">
    <br><br>
    <br><br>
    <p>
        At reef app, we are committed to protecting the privacy and security of our users. This privacy policy applies to the reef mobile app and all related services provided by us.
        <br>
        By using our app, you consent to the collection, use, and sharing of your personal information as described in this policy. If you do not agree with our policies and practices, do not use our app.
   <br>
        We may collect and process the following data about you:
 <br>
        Personal information, such as your name, email address, and phone number, that you provide to us when you create an account or use our app.
        Information about your use of our app, including your interactions with the app and the scans you request.
        Information about your device, such as your device type and operating system.
        We may use your personal information for the following purposes:
    </p>
    <ul>
        <li>
            To provide and maintain our app and related services.
        </li>
        <li>
            To communicate with you about your use of our app.
        </li>
        <li>
            To personalize your experience on our app and suggest scans or other services that may be of interest to you.
        </li>
        <li>
            To improve our app and develop new features.
        </li>
        <li>
            We may share your personal information with third parties in the following circumstances:
        </li>
    </ul>
    <p>
        With scan centers and other service providers who perform scans on behalf of our app.
        With third-party service providers who perform services on our behalf, such as hosting, data analysis, payment processing, and customer service.
        In the event that we sell or transfer all or a portion of our business or assets, your personal information may be transferred to the purchaser or recipient.
        We take reasonable steps to protect your personal information from unauthorized access, use, or disclosure. However, no method of transmission over the internet or
    </p>

    <p>
        We collect certain personal and medical information from our users in order to facilitate the referral process and provide the best possible care to our patients. This information may include the patient's name, contact information, medical history, and details about the required scan.
<br>
We will only share this information with the necessary parties in order to facilitate the referral process and ensure that our patients receive the care they need. We will not sell or disclose this information to any third parties for any other purpose.
<br>
We take appropriate security measures to protect against unauthorized access to or alteration of your personal and medical information. However, we cannot guarantee the security of your information transmitted through our app, and any transmission is at your own risk.
<br>
We may update this privacy policy from time to time to reflect any changes in our practices or to comply with legal requirements. We encourage you to review this policy periodically to stay informed about our privacy practices.
<br>
If you have any questions about our privacy policy, please don't hesitate to contact us
    </p>
    </div>