.notification {
  color: #fff;
  padding: 1em;
  &.unread {
    font-weight: bold;
    font-size: 0.9em;
    background: var(--customgray);
  }
  span {
    display: block;
    &:nth-child(2){
        font-weight: normal;
        font-size: 0.8em;
    }
  }
}
ion-item-divider{
  min-height: 0px;
}
