.card{
    background-color: var(--customgraycomp);
    backdrop-filter: blur(14px) saturate(200%);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( -10px );
    padding: 1em;
    border-radius: 0.8em;
    .image{
        text-align: center;
        img{
            width: 150px;
            border-radius: 50%;
        }
        ion-fab{
            display: block;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -30px);
        }
        span{
            display: block;
            &.name{
                font-weight: bold;
                margin-top: 1em;
                font-size: 2em;
                color: #fff;
            }
            &.balance{
                font-weight: bold;
                font-size: 0.8em;
                color: var(--ion-color-medium);
            }
        }
    }
    form{
        // padding: 1em;
        ion-item{
            margin-bottom: 0.5em;
            color: #fff;
            --background: var(--customgraycomp);
        }
        ion-item::part(native) {
            padding-left: 0em;
        }

        ion-select::part(placeholder){
            color: #000;
            opacity: 1;
        }

    }
}

#openmodal{
    width: 100%;
}