<ion-content>
  <div class="holder">
    <div class="image">
      <img src="/assets/images/logo.png" alt="">
    </div>
    <div>
      <p class="login">Reset Password</p>
      <form (ngSubmit)="submitreset()" [formGroup]="resetform">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input formControlName="email" placeholder="example@yahoo.com"><ion-icon name="person-outline"></ion-icon></ion-input>
        </ion-item>
        <!-- <div class="errors">
          <span>Email is required</span>
        </div> -->
        <!-- <br>
          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"><ion-icon name="lock-closed-outline"></ion-icon></ion-input>
          </ion-item> -->
          <ion-button type="submit" expand="block" [disabled]="!resetform.valid" >Reset Password</ion-button>
        </form>
      <div class="signinup">
        <a [routerLink]="['/guest/signin']" routerLinkActive="router-link-active" >Sign In</a>
        <a [routerLink]="['/guest/signup']" routerLinkActive="router-link-active" >Sign Up</a>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Call 0209067479 for enquiries <br> Powered By OwlBlack <br> &copy; 2023</p>
  </div>
  
</ion-content>
