<ion-content>
  <div class="holder">
    <div class="image">
      <img src="/assets/images/logo.png" alt="">
    </div>
    <div>
      <p class="login">Login</p>
      <form (ngSubmit)="login()" [formGroup]="credentials">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input formControlName="email" placeholder="example@yahoo.com" class="custom"><ion-icon name="person-outline"></ion-icon></ion-input>
        </ion-item>
        <p class="errors">{{showEmailErrors()}}</p>
        <br>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input formControlName="password" type="password" class="custom" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;"><ion-icon name="lock-closed-outline"></ion-icon></ion-input>
        </ion-item>
        <p class="errors">{{showPasswordErrors()}}</p>
        <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Login</ion-button>
      </form>
      <div class="signinup">
        <a [routerLink]="['/guest/signup']" routerLinkActive="router-link-active" >Sign Up</a>
        <a [routerLink]="['/guest/forgotpassword']" routerLinkActive="router-link-active" >Forgot Password</a>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Call 0209067479 for enquiries <br> Powered By OwlBlack <br> &copy; 2023</p>
  </div>

  
</ion-content>
