ion-content{
    --background: #EEF4FB;
    @media (prefers-color-scheme: dark) {
        --background: rgba(0, 0, 0, 0.8);
    }
}
.holder{
    padding: 1.5em;
    padding-top: 3.5em;
    .image{
        text-align: center;
        img{
            background-color: #fff;
            border: 1px solid var(--ion-color-color1);
            border-radius: 8px;
        }
        margin-bottom: 3em;
    }
    .login{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--ion-color-color1);
        @media (prefers-color-scheme: dark) {
            color: #EEF4FB;
        }
    }
    ion-item{
        --border-radius: 15px;
        --inner-border-width: 0px;
        --inner-box-shadow: none;
        --highlight-background: rgba(0, 0, 0, 0);
        --border-color: rgba(0, 0, 0, 0);
        ion-input{
            ion-icon{
                margin-right: 0.5em;
            }
        }
    }

    ion-button{
        --background: var(--ion-color-color1);
        @media (prefers-color-scheme: dark) {
            --background: rgb(53, 53, 53);
            --color: rgb(255, 255, 255);
        }
        --border-radius: 3em;
        margin-top: 1.5em;
        --box-shadow: none;
    }

    .signinup{
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
        a{
            text-decoration: none;
            color: var(--ion-color-color1);
            font-size: 0.8em;
            @media (prefers-color-scheme: dark) {
                color: #EEF4FB;
            }
        }
    }
}

.footer{
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2em;
    p{
        font-size: 0.7em;
    }
}
.errors {
    font-size: small;
    color: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1;
    position: relative;
  }