<ion-content>
  <swiper #swiper>
    <ng-template swiperSlide>
      <img src="/assets/images/doctors.png">
      <h1>Welcome to Referral Med</h1>
      <p>Your comprehensive referral Application</p>
      <div class="button"><ion-button (click)="next()" fill="outline">Next</ion-button></div>
    </ng-template>


    <ng-template swiperSlide>
      <img src="/assets/images/easy.png">
      <h1>Book Patients</h1>
      <p>Send patients our way in just a few steps</p>
      <div class="button"><ion-button (click)="next()" fill="outline">Next</ion-button></div>
    </ng-template>


    <ng-template swiperSlide>
      <img src="/assets/images/labs.png">
      <h1>Book Patients</h1>
      <p>Send patients our way in just a few steps</p>
      <div class="button"><ion-button (click)="next()" fill="outline">Next</ion-button></div>
    </ng-template>


    <ng-template swiperSlide>
      <img src="/assets/images/getreports.png">
      <h1>Book Patients</h1>
      <p>Send patients our way in just a few steps</p>
      <div class="button"><ion-button (click)="next()" fill="outline">Next</ion-button></div>
    </ng-template>


    <ng-template swiperSlide>
      <img src="/assets/images/referralmed.png">
        <h1>Track earning</h1>
        <p>Keep up with accurate statistics</p>
        <div class="button"><ion-button (click)="start()" fill="outline" >Start</ion-button></div>
    </ng-template>
  </swiper>
</ion-content>
