<ion-content>
  <swiper #swiper>
    <ng-template swiperSlide>
      <img src="/assets/images/doctors.png">
      <h1>Welcome to Reef App</h1>
      <p>Get your patients the care they need, when they need it.</p>
      <div class="flex">
        <div class="button"><ion-button (click)="next()" fill="outline">Next</ion-button></div>
        <div class="button"><ion-button (click)="start()" fill="solid">Skip</ion-button></div>
      </div>
    </ng-template>


    <ng-template swiperSlide>
      <img src="/assets/images/easy.png">
      <h1>Easier for patients</h1>
      <p>We will transport patients to the appropriate facilities for their procedures.</p>
      <div class="flex">
        <div class="button"><ion-button (click)="next()" fill="outline">Next</ion-button></div>
        <div class="button"><ion-button (click)="start()" fill="solid">Skip</ion-button></div>
      </div>
    </ng-template>


    <ng-template swiperSlide>
      <img src="/assets/images/labs.png">
      <h1>Excellent facilities</h1>
      <p>For the finest care possible, we collaborate with the best facilities in the area.</p>
      <div class="flex">
        <div class="button"><ion-button (click)="next()" fill="outline">Next</ion-button></div>
        <div class="button"><ion-button (click)="start()" fill="solid">Skip</ion-button></div>
      </div>
    </ng-template>


    <ng-template swiperSlide>
      <img src="/assets/images/getreports.png">
      <h1>Reporting</h1>
      <p>Get reports sent back to you when done</p>
      <div class="flex">
        <div class="button"><ion-button (click)="next()" fill="outline">Next</ion-button></div>
        <div class="button"><ion-button (click)="start()" fill="solid">Skip</ion-button></div>
      </div>
    </ng-template>


    <ng-template swiperSlide>
      <img src="/assets/images/referralmed.png">
        <h1>Track earning</h1>
        <p>Maintain up-to-date statistics and earnings</p>
        <div class="button"><ion-button (click)="start()" fill="outline" >Start</ion-button></div>
    </ng-template>
  </swiper>
</ion-content>
