ion-content{
    // --background: #fff;
    h1{
        text-align: center;
        color: var(--ion-color-color1);
        font-weight: bold;
        font-size: 1.4em;
        padding: 0;
        margin: 0;
        margin-top: 3em;
    }
    p{
        text-align: center;
        margin: 0;
        padding: 0 2em;
    }
    .button{
        text-align: center;
    }
}