ion-menu{
    ion-content{
        --background: var(--customgray);
        .image{
            margin: 3em 0;
            text-align: center;
            img{
                // width: 100px;
            }
            p{
                margin: 0;
            }
        }
        ion-list{
            background: var(--customgray);
            ion-item{
                --background: var(--customgray);
                margin: 0.2em 0.5em;
                border-radius: 8px;
                padding: 0.1em 0;
                --color: #fff;
                ion-icon{
                    color: #fff;
                }
                &.active{
                    --background: var(--customgraycomp);
                    --color: #fff;
                    ion-icon{
                        color: #fff;
                    }
                }
            }
        }
    }
}